.wrapper{
  padding-top: 33vh;
  display: flex;
  justify-content: center;
  min-width: 816px;
  svg{
    .e{
      fill: #272A38;
    }
    .e:hover{
      fill: rgba(0, 137, 255, 0.2);
    }
  }
}



